.grades-div {
    width: 75%;
    margin-top: 25px;
}

.grades-class {
    padding: 10px;
}

.grades-class-select {
    font-size: 16px;
    padding: 5px;
}

.grades-table {
    border-spacing: 15px 15px;
}
.grades-table td {
    font-size: 18px;
}

.grades-block {
    border: 2px solid rgba(97, 139, 201, 1);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    font-size: 20px;
}


.grades-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

[class^="grade-lesson-"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-of-grades {
    border: 2px solid rgba(97, 139, 201, 1);
    border-radius: 5px;
    width: 500px;
    padding: 15px;
}

.list-of-grades {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.grades-bakc {
    padding: 5px;
    border-radius: 7px;
    color: #617ef06c !important;
    background: #6080ff36;
    transition: .4s ease;
}

.grades-bakc:hover {
    color: #617ef085 !important;
    background: #6080ff5d;
}

section {
    margin-bottom: 125px;
}

.grades-table th:first-child, td:first-child {
    position: sticky;
    left: 0;
    min-width: 190px;
    background-color: #11141c;
    z-index: 2; /* Чтобы первая колонка оставалась сверху */
}

#user-item-inp {
    overflow: hidden;
}

#user-item-inp input {
    width: 30px;
    border: none;
    font-size: 18px;
    color: #FFF;
    border-radius: 5px;
    background-color: #11141c;
    border-bottom: 2px solid red;
    padding: 7px;
    outline: none;
}

#user-item {
    padding: 5px;
}


.hidden { display: none; }

.grades-hidden {
    display: flex;
    border: 2px solid rgba(97, 139, 201, 1);
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(97, 139, 201, 1);
    padding: 15px;
    margin: 20px;
    width: 500px;
    font-size: 20px;
    justify-content: center;
}