body {
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

a {
    text-decoration: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; /* Помещаем фон за контент */
}

.background::before {
    content: "";
    position: absolute;
    top: -1%;
    left: -1%;
    width: 105%;
    height: 105%;
    background-image: url(../../../static/media/login_background.png);
    background-size: cover;
    background-position: center;
    filter: blur(0.5px);
}

.login-container {
    display: flex;
    position: relative;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.login-block {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center;
    color: #fff;
    max-width: 400px;
    padding: 30px 40px;
    z-index: 2;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 27px 3px rgb(224, 230, 255);
}

.login-block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* Размытие только заднего фона */
    filter: blur(10px);
    z-index: -1;
    border-radius: 15px;
}

.login-input {
    border: none;
    color: #fff;
    background: none;
    border-bottom: 2px solid rgb(110, 110, 110);
    padding: 10px;
    transition: .3s ease;
    font-size: 20px;
    border-radius: 5px;
}

.login-input:active,
.login-input:focus,
.login-input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

input:-webkit-autofill {
    font-size: 20px !important
}

.login-submit {
    padding: 10px;
    width: 100%;
    border: none;
    background: rgb(218,218,218);
    background: linear-gradient(150deg, rgb(255, 255, 255) 00%, rgb(227, 236, 255) 100%);
    border-radius: 10px;
    transition: .3s ease;
    color: rgb(59, 59, 59);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.15em;
    cursor: pointer;
}

.login-submit:hover {
    box-shadow: 0 0 12px 3px rgba(223, 223, 223, 0.852);
    color: rgb(0, 0, 0);
}

.login-redirect {
    color: #fff;
    font-size: 18px;
    font-weight: 450;
    letter-spacing: 0.1em;
    transition: .7s ease-in-out;
    border-bottom: 2px solid transparent;
    border-radius: 4px;
}

.login-redirect:hover {
    border-bottom: 2px solid #6A679E;
}

.login-forms {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.reg-error {
    color: red;
    font-family: monospace;
    font-size: 14px;
}

@keyframes opacityAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}