form {
    display: flex;
    
}

.active_setting {
    background-color: #d3dcff08;
}

.avatar-edit {
    display: flex;
    margin: 10px;
    border: 3px #161b25 solid;
    border-radius: 15px;
}

#avatar-preview {
    max-width: initial;
    max-height: initial;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px white solid;
}

#avatar-preview:hover {
    background-color: rgba(36, 36, 36, 0.432);
}

.avatar-text {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    margin: 0 10px 0 10px;
}

.form {
    display: flex;
}


#submit-button {
    font-weight: 700;
    background: #6080ff14;
    color: #617df083 !important;
    border-radius: 6px;
    border: 0;
    padding: 10px;
    cursor: pointer;
    align-items : center;
    animation: 1s show_btn_confirm ease;
    transition: .3s ease;
}

#submit-button:hover{
    background-color: #6382ff23;
    color: #6080ff !important;
}

@keyframes show_btn_confirm {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.settings-class {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 1.5em;
}

.settings-choice {
    display: flex;
    flex-direction: column;
    background-color: #161b25;
    border-radius: 15px;
    border: 2.5px solid rgba(97, 139, 201, 1);
    align-items: baseline;
    height: 100%;
    animation: 1.3s show-settings ease;
}

.settings-choice>div {
    width: 74%;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.settings-choice>div:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.settings-choice>div:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.settings-block {
    display: flex;
    position: relative;
    flex-grow: 2;
    margin-left: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    flex-flow: column wrap;
    max-width: 700px;
    border: 2.5px solid rgba(97, 139, 201, 1);
    border-radius: 15px;
    z-index: 1;
    gap: 10px;
    animation: .6s show-settings ease;
}

[class^="settings-show-"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[class^="settings-show-"] select {
    padding: 5px;
    border-radius: 10px;
    background: #6080ff14;
    color: #fff;
    border: 2px solid #97a8ec;
}

[class^="settings-show-"] option {
    color: black;
    background-color: #eeeeee;
}

@keyframes show-settings {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.settings-block>div {
    padding: 10px 10px;
}

.settings-border {
    display: flex;
}

.logout-btn {
    display: flex;
    font-weight: 700;
    background: #6080ff14;
    color: #617df083 !important;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.logout-wrap {
    display: flex;
    align-self: flex-end;
    margin: 5px;
}

.logout-btn:hover{
    background-color: #6382ff23;
    color: #6080ff !important;
}

.title {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background: #161b25;
    border-radius: 12px 12px 0 0;
    height: 55px;
    align-items: center;
    z-index: 0;
    /* margin: 18px 0; */
}