.add-news-forms {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    gap: 25px;

    width: 500px;
    height: fit-content;

    border: 2px solid rgba(97, 139, 201, 1);
    border-radius: 10px;
    
    padding: 15px;
}

.file-upload-wrapper {
    display: flex;
    align-items: center;
}

.news-add-text {
    resize: vertical;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: #11141c;
    color: #fff;
}

.preview-main {
    width: 600px;
    min-height: fit-content;

    border: 2px solid rgba(97, 139, 201, 1);
    border-radius: 10px;
    background-color: rgb(34, 38, 46);
}

.preview-title {
    display: block;

    font-size: 20px;
    font-weight: 500;

    padding: 14px;
}

.preview-content {
    display: block;

    word-wrap: break-word;

    padding: 9px 14px;
}

.preview-post-footer {
    display: flex;
    justify-content: space-between;
    margin: 9px;
    vertical-align: middle;
}

.pifl {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}

.submit-button {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    background-color: #6080ffab;
    transition: all .4s ease;
}

.submit-button:hover {
    box-shadow: 0 0 10px 2px #6080ff7c;
}

.news-add-title {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #11141c;
    outline: none;
    color: #fff;
    border-bottom: 1px solid rgba(167, 167, 167, 1);
    transition: .5s ease;
}

.news-add-title:focus {
    border-bottom: 1px solid #c593ff;;
}

.news-add-author {
    width: 35%;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

#time {
    display: flex;
    align-self: flex-end;
    letter-spacing: 0.05em;
    color: #fafafa48;
    font-size: 12px;
}

#custom-button {
    padding: 10px 20px;
    background-color: #6080ffab;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease;
}

#custom-button:hover {
    background-color: #6986fdab;
}

#custom-text {
    margin-left: 10px;
}

#preview-image {
    display: block;
    max-width: 200px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}