{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
    {% if user == request.user %}
    <title>Личный кабинет</title>
    {% else %}
    <meta http-equiv="refresh" content="0;URL=/"/>
    <title>Профиль {{ user.username }}</title>
    {% endif %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/friends.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="{% static 'js/route.js' %}" defer></script>
    <script src="{% static 'js/friend-system.js' %}" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'blog_news' %}"><img src="{% static 'media/logo.png' %}" class="logo-image"></a>
        </div>
        {% if request.user.is_authenticated %}
        <div class="account">
            <nav id="profile">
                    <div class="header__block_profile">
                        {% if request.user.is_authenticated %}
                        <div class="header__profile"> 
                            <div class="header__sphere">
                                <img src="{{ request.user.cover.url }}" loading="lazy" id="{% if request.user.is_superuser %}header__superuser_user{% elif user.is_teacher %}header__teacher_user{% endif %}">
                            </div> 
                                <img src="{% static 'media/arrow.svg' %}" loading="lazy" class="header__arrow">  
                        </div>
                        <div class="dropdown-content">
                            <div class="dropdown-item" style="display: flex; align-items: center; height: auto ; background-color: #273047;">
                                <img src="{{ request.user.cover.url }}" loading="lazy" style="vertical-align: middle; height: 33px; width: 33px; border-radius: 50%;" id="{% if request.user.is_superuser %}header__superuser_user{% elif user.is_teacher %}header__teacher_user{% endif %}">
                                <a href="{% url 'profile' request.user.username%}" style="display: flex; padding: 5px 15px; width: 100%; height: auto; align-items: center; text-decoration: none;">
                                <div id="header__text_profile">
                                    <span style="margin-bottom: 3px;">{{ request.user.username }}</span>
                                    <span style="font-size: 12px;" >Перейти в профиль</span>
                                </div>
                            </a></div>
                            <div class="dropdown-item">
                                <a href="{% url 'zvonki' %}" style="display: flex; padding: 0px 15px; position: relative; right: 15px; text-decoration: none; color: rgb(132, 153, 185); transition: all 0.4s ease;" 
                                onmouseover="this.style.color='#fff'"
                                onmouseout="this.style.color='rgb(132, 153, 185)'">Расписание звонков
                                </a>
                            </div>
                            <div class="dropdown-item">
                                <a href="{% url 'logout' %}" style="display: flex; padding: 0px 15px; position: relative; right: 15px; text-decoration: none; color: rgb(132, 153, 185); transition: all 0.4s ease;" 
                                onmouseover="this.style.color='#fff'"
                                onmouseout="this.style.color='rgb(132, 153, 185)'">Выйти 
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <a href="{% url 'login' %}">Войти</a>
                        {% endif %}
                    </div>
            </nav>
        </div>
        <script src="{% static 'js/profile.js' %}" defer></script>
        {% endif %}
    </header>

    <main>
        <div class="user_profile">
            <img src="{{ cover.url }}" loading="lazy" class="avatar {% if user.is_superuser %}superuser_user_border{% elif user.is_teacher %} teacher_user_border{% endif %}">
            <div class="names">
                {% if user.is_superuser %}
                <div class="profile_badge">
                    <span style>STAFF</span>
                </div>
                {% elif user.is_teacher %}
                <div class="profile_badge teacher">
                    <span style>Учитель</span>
                </div>
                {% endif %}
                <span style="font-size: 40px; letter-spacing: -0.02em; font-weight:bold; margin-bottom: 5px;" class="{% if user.is_superuser %}superuser_user {% elif user.is_teacher %} teacher_user {% endif %}">{{ user.first_name }} {{ user.last_name }}</span>
                <span style="font-size: 18px; color: #c9cadd96;">{{ user.username }} {% if not user.is_teacher %} {{ user.classroom }} {% endif %}</span>
            </div>
            <div style="margin: 10px;"> </div>
            {% if user == request.user %}
            {% elif user.id in friends %}
                <button class="add-friend-btn" disabled>Друзья!</button>
            {% elif user.id in sent_requests %}
            <button class="cancel-friend-btn" data-user-id="{{ user.id }}" data-username="{{ user.username }}">Отменить заявку</button>
            {% else %}
            <div class="add-friend">
                <button class="add-friend-btn" data-user-id="{{ user.id }}" data-username="{{ user.username }}">Добавить в друзья</button>
            </div>
            {% endif %}
        </div>
    
        <div class="razdel">
            <nav class="profile_info">
                <div class="profile route"><a href="{% url 'profile' user.username %}">Профиль</a></div>
                <div class="friends active route"><a href="{% url 'friends' user.username %}"><span class="active2">Друзья</span></a></div>
                {% if not user.is_teacher %}<div class="grades route"><a href="{% url 'grades' user.username %}">Оценки</a></div> 
                {% else %} <div class="grades route"><a href="{% url 'add_grades' user.username %}">Выставить Оценки</a></div>  {% endif %}
                {% if user == request.user %}
                <div class="settings route"><a href="{% url 'school_card' user.username %}">Школьная Карта</a></div>
                {% endif %}
                {% if user == request.user %}
                <div class="settings route"><a href="{% url 'settings' user.username %}">Настройки</a></div>
                {% endif %}
            </nav>
        </div>

        <div class="friends-class">
            <div class ="friends-choice">
                {% if user == request.user %}
                <div class="tab-link"><a href="{% url 'friends' user.username %}">Друзья</a></div>
                <div class="active_setting tab-link"><a href="{% url 'friend_request' user.username %}"  style="color: #1f89d6;">Заявки</a></div>
                <div class="tab-link"><a href="{% url 'sended' user.username %}">Ваши заявки</a></div>
                {% else %}
                <div class="tab-link"><a href="{% url 'friends' user.username %}">Друзья</a></div>
                {% endif %}
            </div>
        <div class="friends-block">
                
                <div class="title">
                     Хотят добавить вас в друзья
                </div>
                    {% for request_user in pending_requests %}
                        
                            {% with request_user|get_user_by_id as user %}
                                <div class="user-wants-to-friend {% if user.is_superuser %}user-wants-to-friend-superuser-user{% endif %} ">
                                    <div class="user-cover-block">
                                        <a href="{% url 'profile' username=user.username %}">
                                            <img src="{{ user.cover.url }}" loading="lazy" class="user-cover {% if user.is_superuser %}user-cover-superuser-user{% endif %}">
                                        </a>
                                    </div>
                                    <div class="user-username">{{ user.username }}</div>
                                    <div class="btns">
                                        <div class="btns-accept"> <a href="{% url 'accept_friend_request' username=user.username user_id=user.id %}">Принять</a></div>
                                        <div class="btns-deny"><a href="{% url 'reject_friend_request' username=user.username user_id=user.id %}">Отклонить</a></div>
                                    </div>
                                </div>
                            {% endwith %}                
                    {% empty %}
                        <div class="friends-list">Вам никто не отправлял заявки в друзья.</div>
                {% endfor %}
        </div>
    </main>
    <div class="wrapper">
        <footer>
            <div class="footer-elements">
                <div class="footer-info-text">Этот сайт — пока только прототип, основа для будущей полноценной версии. Данный сайт ничего не имеет общего с деятельностью МБОУ СОШ №35 г. Ижевска</div>
                <div class="footer-logos">
                    <div class="footer-logo-phone"><a href="tel:73412596025"><img src="{% static 'media/phone.svg' %}">+7 (3412) 59-60-25</a></div>
                    <div class="footer-logo-vk"><a href="https://vk.com/izhevskschool35"><img src="{% static 'media/vk.svg' %}"></a></div>
                    <div class="footer-logo-telegram"><a href="https://t.me/izhevskschool35"><img src="{% static 'media/telegram.svg' %}"></a></div>
                    <div class="footer-logo-web"><a href="shkola35izhevsk-r18.gosweb.gosuslugi.ru"><img src="{% static 'media/web.png' %}"></a></div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>